<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-4">
            <a href="/" class="navbar-brand">HOME</a>
        </nav>
            
        <div>
            <form action="/add" method="POST">
                <div class="form-group">
                    <input type="text" name="FirstName" placeholder="FirstName" class="form-group" required>
                </div>
                <div class="form-group">
                    <input type="text" name="LastName" placeholder="LastName" class="form-group" required>
                </div>
                <div class="form-group">
                    <input type="text" name="address" placeholder="Address" class="form-group" required>
                </div>
                <div class="form-group">
                    <input type="text" name="city" placeholder="City" class="form-group" required>
                </div>
                <div class="form-group">
                    <input type="text" name="country" placeholder="Country" class="form-group" required>
                </div>
                <div class="form-group">
                    <input type="text" name="district" placeholder="District" class="form-group" required>
                </div>
                <div class="form-group">
                    <input type="text" name="status" placeholder="Status" class="form-group" required>
                </div>
                <button class="btn btn-primary" type="submit">Añadir</button>
            </form>
        </div>

        

        <div>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Id 
                    </th>
                    <th>
                        FirstName
                    </th>
                    <th>
                        LastName
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        District
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                <tbody>
                    <% for(let i = 0; i<customers.length; i++){ %>
                        <tr>
                            <td>
                                <%= customers[i].id %>
                            </td>
                            <td>
                                <%= customers[i].FirstName %>
                            </td>
                            <td>
                                <%= customers[i].LastName %>
                            </td>
                            <td>
                                <%= customers[i].address %>
                            </td>
                            <td>
                                <%= customers[i].city %>
                            </td>
                            <td>
                                <%= customers[i].country %>
                            </td>
                            <td>
                                <%= customers[i].district %>
                            </td>
                            <td>
                                <%= customers[i].status %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

    </body>
</html>